<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="web_resources/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="web_resources/bootstrap/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="web_resources/ag-grid/ag-grid.css">
  <link rel="stylesheet" type="text/css" href="web_resources/ag-grid/theme-fresh.css">
  <link rel="stylesheet" type="text/css" href="web_resources/report_style.css">

  <!-- contains the manifest.js javascript JSONP wrapper function. It executes on JSON content provided in manifest.js -->
  <script type="text/javascript" src="web_resources/ess_preprocessor.js"></script>

  <!-- read ESS container data as JSON -->
  <script type="text/javascript" src="manifest.js"></script>

  <!-- include dependencies -->
  <script type="text/javascript" src="web_resources/angular/angular.js"></script>
  <script type="text/javascript" src="web_resources/ag-grid/ag-grid.js"></script>
  <script type="text/javascript" src="web_resources/underscore-min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="web_resources/hed_tools.js"> </script>
  <script type="text/javascript" src="web_resources/make_report.js"> </script>
</head>


<body>
  <div ng-app = "essReportApp" ng-controller="ReportController">
    <h1>{{level1.title}}</h1>
    <div ng-if="level1.showNotice">
      <p>This study is an <a href="http://www.eegstudy.org/#level1">ESS Standard Data Level 1 container</a>. This means that it contains raw, unprocessed EEG data (and possibly other modalities) arranged in a standard manner. You use the data in the container folder as usual or use <a href="https://github.com/BigEEGConsortium/ESS">ESS tools (MATLAB)</a> to automate access and proceesing.  For more information pleasee visit <a href="http://www.eegstudy.org/">eegstudy.org</a>.</p>
    </div>
    <div ng-if="level2.showNotice">
      <p>This study is an <a href="http://www.eegstudy.org/#level2">ESS Standard Data Level 2 container</a>. This means that raw EEG data has been processed with <a href="http://vislab.github.io/EEG-Clean-Tools/">PREP pipeline</a>, i.e. re-referenced with a robust average reference.
        Data files have been arranged in a standard manner. You use the data in the container folder as usual or use <a href="https://github.com/BigEEGConsortium/ESS">ESS tools (MATLAB)</a> to automate access and proceesing.  For more information pleasee visit <a href="http://www.eegstudy.org/">eegstudy.org</a>.
      </p>
    </div>
    <div ng-if="levelDerived.showNotice">
      <p>This study is an ESS Standard Data Level-Derived container. This means that it contains data after one or more levels of procesing.
        Data files have been arranged in a standard manner. You use the data in the container folder as usual or use <a href="https://github.com/BigEEGConsortium/ESS">ESS tools (MATLAB)</a> to automate access and proceesing.  For more information pleasee visit <a href="http://www.eegstudy.org/">eegstudy.org</a>.
      </p>
    </div>
    <h3>Short Description</h3>
    <p>{{level1.shortDescription}}</p>
    <h3>Full Description</h3>
    <p>{{level1.fullDescription}}</p>
    <h3>Summary</h3>
    <table>
      <tr>
        <td>Number of Sessions: {{level1.numberOfSessions}}</td>
      </tr>
      <tr>
        <td>Number of Subjects: {{level1.numberOfSubjects}}</td>
      </tr>
      <tr>
        <td>Subject Groups: {{level1.subjectGroup}}</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>Primary source of event information: {{level1.eventSpecificationMethod}}</td>
      </tr>
      <tr>
        <td>Number of EEG Channels: {{level1.numberOfChannels}}</td>
      </tr>
      <tr>
        <td>Recorded Modalities: {{level1.modalities}}</td>
      </tr>
      <tr>
        <td>EEG Channel Location Type(s): {{level1.channelLocationTypes}}</td>
      </tr>
      <tr>
        <td>Total Size: {{level1.totalSize}}</td>
      </tr>
      <tr>
        <td>License Type: {{level1.licenseType}}</td>
      </tr>
      <tr>
        <td>Funding Organization: {{level1.fundingOrganization}}</td>
      </tr>
      <tr>
        <td>ID: {{level1.id}}</td>
      </tr>
    </table>
    <div ng-if="level1.showPublications">
      <h3>Publications</h3>
      <ul ng-repeat="x in level1.publications">
        <li><a href="{{x.link}}">{{ x.text }}</a></li>
      </ul>
    </div>
    <div ng-if="level1.showExperimenters">
      <h3>Experimenters</h3>
      <div ng-if="level1.showPointOfContact">
        <p>Point of Contact: {{ level1.pointOfContact }}</p>
      </div>
      <ul ng-repeat="x in level1.experimenters">
        <li>{{ x }}</li>
      </ul>
    </div>
    <h3>Data Recordings</h3>
    <label style="font-weight: normal">
      Filter Rows
      <input placeholder="" type="text"
      onpaste="onLevel1DataRecordingsFilterChanged(this.value)"
      oninput="onLevel1DataRecordingsFilterChanged(this.value)"
      onchange="onLevel1DataRecordingsFilterChanged(this.value)"
      onchange="onLevel1DataRecordingsFilterChanged(this.value)"
      onkeydown="onLevel1DataRecordingsFilterChanged(this.value)"
      onkeyup="onLevel1DataRecordingsFilterChanged(this.value)"/>
    </label>
    <label style="font-weight: normal">
      <button  style="font-weight: normal" onclick="extracted.level1.dataRecordingsGridOptions.api.exportDataAsCsv()"  >Export to CSV</button>
    </label>
    <div ag-grid="level1.dataRecordingsGridOptions" class="ag-fresh" style="height: 100%;"></div>
    <h3>Tasks</h3>
    <div ag-grid="level1.tasksGridOptions" class="ag-fresh" style="height: 100%"></div>
    <h3>Events</h3>
    <label style="font-weight: normal">
      Filter Rows
      <input placeholder="" type="text"
      onpaste="onLevelEventsFilterChanged(this.value)"
      oninput="onLevelEventsFilterChanged(this.value)"
      onchange="onLevelEventsFilterChanged(this.value)"
      onchange="onLevelEventsFilterChanged(this.value)"
      onkeydown="onLevelEventsFilterChanged(this.value)"
      onkeyup="onLevelEventsFilterChanged(this.value)"/>
    </label>
    <label style="font-weight: normal">
      <button onclick="extracted.level1.eventsGridOptions.api.exportDataAsCsv()">Export to CSV</button>
    </label>
    <div ag-grid="level1.eventsGridOptions" class="ag-fresh" style="height: 100%;"></div>
    <div style="width:100%;" >
      <h3>Event HED Tag Count</h3>
      <p style="margin-top: 100 px;">Total number of events that match each HED tag (exclucing labels and descriptions).</p>
      <div name='treemap' id='treemap' align="center" style="margin-left: 3%; margin- 5%;"/>
    </div>

    <div ng-if="level1.showLicensePart">
      <h3>License Agreement</h3>
      <div ng-if="level1.showLicenseText"><p>{{level1.licenseText}}</p></div>
      <div ng-if="level1.showLicenseLink"><a href="{{level1.licenseLink}}">License Link</a></div>
    </div>
    <div ng-if="level1.showIRBPart">
      <h3>Institutional Review Board (IRB)</h3>
      <p>{{level1.IRBtext}}</p>
    </div>
    <div ng-if="level1.shoCopyRight" align='center'>
      <p style="horizon">{{level1.copyrightText}}</p>
    </div>
  </div>
</body>
</html>
