body {margin:30px;font-family:arial,helvetica,sans-serif; background-color:white
}
table {
  border-collapse: collapse;
}
.tablebody{
  text-align: center;
}
.tablebody
tr:nth-of-type(odd) {
  background-color:whitesmoke;
}
.tablebody
tr:nth-of-type(even) {
  background-color:#E6E6E6;
}
}
license{
  font-size= 7pt
}
h1 {text-align: center;}

/*  modify ag-grid styles to make columns center aligned and give column headers solid backgrounds  */
.ag-cell {
  text-align: center;
}

.ag-fresh .ag-header {
  background: hsl(0, 0%, 90%);
  border-bottom: 1px solid #808080;
}
.ag-fresh .ag-no-scrolls .ag-header-container {
  background: rgb(#d3d3d3);
  border-bottom: 1px solid #808080;
}

.ag-header-group-cell-label{
  align-content: center;
  align-self: center;
  align-items: center;
  width:1%; /* 70% of the parent*/
  text-align: center;
}

/* for threemap hed count    */

.treemapNode {
  border: solid 1px white;
  font: 10px sans-serif;
  font-weight:bold;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
